@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-base text-white antialiased;
}

::selection {
  background: rgba(16, 185, 129, 0.3);
}
